.l-header {
  padding: 4rem 0;
}

.l-header .logo {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem;
}

.l-header .logo a {
  display: inline-block;
}

.l-header .ops {
  position: absolute;
  top: 0;
  right: 1rem;
}

.l-header .ops::after {
  content: '';
  display: block;
  clear: both;
}

.l-header .ops a {
  display: block;
  position: relative;
  margin-left: 1.5rem;
  padding: 0 1rem;
  float: left;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3rem;
}

.l-header .ops a::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
  height: 3px;
  transition-duration: .3s;
  background-color: #333;
}

.l-header .ops a:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .l-header .ops {
    position: static;
    margin-top: 2rem;
  }

  .l-header .ops a {
    max-width: 6rem;
    margin: 0 0 0 auto;
    float: none;
  }
}
