.container {
  box-sizing: border-box;
  width: 33.3333%;
  margin-bottom: 2rem;
  padding: 0 1rem;

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }
}

.inner {
  min-height: 11rem;
  padding: 2rem 1.5rem;
  border-radius: var(--radius-base);
  box-shadow: var(--box-shadow-base);
}

.name {
  margin-bottom: 1rem;
  font-weight: 900;
}

.description {
  margin-bottom: 1rem;
  font-size: .8rem;
}

.stacks {
  font-size: .8rem;
  list-style: none;

  li {
    display: inline;
  }

  li + li {
    &::before {
      content: ",";
      margin-right: .25rem;
    }
  }
}

.refs {
  display: flex;
  margin-top: 1rem;
  list-style: none;
}

.refsItem + .refsItem {
  margin-left: .5rem;
}

.refsAnchor {
  composes: roundedIconButton from "../styles/button.scss";
}
