.l-footer {
  padding: 1.5rem 0;
}

.l-footer .copy {
  font-weight: 700;
  line-height: 2rem;
}

.l-footer .social {
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.l-footer .social a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}

.l-footer .social i {
  line-height: 2rem;
}
