.project-panel {
  margin-bottom: 3rem;
}

.project-panel .title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
}

.project-panel .stack {
  margin-bottom: 1rem;
}

.project-panel .stack li {
  display: inline;
  line-height: 1.5rem;
}

.project-panel .stack li::after {
  content: ', ';
}

.project-panel .stack li:last-child::after {
  content: '';
}

.project-panel .description p {
  margin: .25rem 0;
  line-height: 1.25rem;
}

.project-panel .asides {
  margin-top: 1rem;
}

.project-panel .asides::after {
  content: '';
  display: block;
  clear: both;
}

.project-panel .asides a {
  display: block;
  margin-right: 1rem;
  float: left;
}

.project-panel .asides i {
  margin-right: .25rem;
  font-size: 1.2rem;
}
