.general-section {
  padding: 8rem 0;
}

.general-section .panes {
  display: flex;
  align-items: center;
}

.general-section .pane {
  width: 50%;
}

@media (max-width: 767px) {
  .general-section .panes {
    display: block;
  }

  .general-section .pane {
    width: 100%;
  }
}
