.work {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 1rem;
}

.work::before {
  content: '';
  position: absolute;
  top: .25rem;
  bottom: .25rem;
  left: 0;
  width: .25rem;
  border: 2px solid #333;
  border-right: 0;
}

.work .details {
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.work .role {
  margin-bottom: .5rem;
}

.work .title {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.work li {
  display: inline;
  line-height: 1.5rem;
}

.work li::after {
  content: ', ';
}

.work li:last-child::after {
  content: '';
}
