.general-section {
  padding: 8rem 0;
}

.general-section .panes {
  display: flex;
  align-items: center;
}

.general-section .pane {
  width: 50%;
}

.general-section .section-title {
  display: inline-block;
  position: relative;
  padding: 0 .5rem 0 4rem;
  font-size: 3rem;
  line-height: 4rem;
}

.general-section .section-title::before {
  content: '';
  display: block;
  position: absolute;
  top: -3rem;
  bottom: -2rem;
  left: 1rem;
  width: 5px;
  transform: perspective(200px) rotateX(-45deg) rotate(-10deg);
  background-color: #333;
}
