html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  color: #263238;
  font-family: 'Josefin Sans', sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1rem;
  word-wrap: break-word;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
}

p {
  margin: 0;
}

a {
  transition-duration: .3s;
  color: #263238;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

main
header,
footer,
nav,
section {
  display: block;
}
