::-moz-selection {
  background: var(--color-base);
  color: #fff;
}

::selection {
  background: var(--color-base);
  color: #fff;
}

:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-base: #333;
  --color-base-text: #333;
  --color-base-border: #333;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-base-text);
  font-family: var(--font-family-base);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  word-wrap: break-word;
}

body {
  padding: 1rem 0;
  box-shadow: 0 0 0 1rem var(--color-base-border) inset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: var(--color-base-text);
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
