@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

::-moz-selection {
  background: var(--color-base);
  color: #fff;
}

::selection {
  background: var(--color-base);
  color: #fff;
}

:root {
  --font-family-base: 'Josefin Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --color-base: rgb(51, 51, 51);
  --color-base-text: rgb(51, 51, 51);
  --color-base-border: hsl(0, 0%, 20%);
  --color-main: rgb(253, 206, 18);
  --color-main-bg: rgb(253, 206, 18);
  --box-shadow-base: rgba(0, 0, 0, .08) 0 4px 18px 0;
  --radius-base: 18px;
  --bp-md: 991px;
  --bp-xs: 767px;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-base-text);
  font-family: var(--font-family-base);
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  word-wrap: break-word;
}

html {
  background-color: var(--color-main-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: var(--color-base-text);
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-style: none;
  vertical-align: middle;
}
